/*共通部分css*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 15px;
}

.section {
  padding-top: 45px;
  padding-bottom: 45px;
}

.section-title {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 20px;
  color: #5f5d60;
}

.sectionline {
  width: 15%;
  border-bottom: 1px #399cc6 solid;
  margin: 0 auto;
  padding-top: 20px;
}

.button {
  display: inline-block;
  width: 400px;
  padding: 8px;
  margin: 10px;
  margin-top: 40px;
  border-bottom: solid 4px #627295;
  border-radius: 5px;
  background-color: #399cc6;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 18px;
}

.button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.clear {
  clear:  left;
}

/*以下bodyのcss*/

/*header開始*/

header {
  height: 80px;
  text-align: center;
}

.header-left {
  padding-top:15px;
}

.header-left h1 {
  font-size: 48px;
  color: black;
  margin: 5px 0px 20px;
  font-family: "Arial Rounded MT Bold";
}

/*header終了*/

/*top-wrapper開始*/

.top-wrapper {
  text-align: center;
}

.top-container {
  background-image: url(./img/salon/Films_ginza/interior_1.jpg);
  background-size: cover;
  height: 500px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

/*top-wrapper終了*/

/*msg-wrapper開始*/

.msg-wrapper {
  text-align: center;
  padding: 10px 15px;
}

/*msg-wrapper終了*/

/*service-wrapper開始*/

.service-wrapper {
  padding-bottom: 30px;
}

.sub-wrapper {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.service-contents{
  width: 100%;
}

.service-content {
  width: 33%;
  float: left;
}

.service-content img {
  width: 30%;
}

/*service-wrapper終了*/

/*how-to-wrapper開始*/

.how-to-wrapper {
  padding-top: 10px;
  padding-bottom: 40px;
}

.steps {

}

.step {
  float: left;
  width: 33%;
}

.step-icon {
  width: 90%
  max-height: 150px;
}

.step-icon img {
  width: 70px;
}

.step-txt {
  text-align: center;
  padding-left: 15px;
}

/*how-to-wrapper終了*/


/*price-wrapper開始*/

.price-wrapper {
  text-align: center;
  padding-bottom: 40px;
}

.price {
  color: #3AABD2;
  font-size: 24px;
  font-weight: bolder;
  padding-top: 20px;
}

.price-note {
  font-size: 16px;
  padding-top: 20px;
}

.price span {
  font-size: 16px;
}

/*price-wrapper終了*/

/*salon-wrapper開始*/

.salon-wrapper {
  text-align: center;
}

.salon-list {
  width: 50%;
  float: left;
  margin-top: 50px;
}

.salon-area {
  color: #399cc6;
  padding-left: 20px;
  padding-bottom: 20px;
}

.salon-area p{
  font-size: 20px;
  margin: 0;
}

.salon {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  float: left;
}

.salon-img {
  width: 50%;
  margin-top: 50px;
  float: left;
}

.salon-img img {
  width: 300px;
}

.salon-content {
  width: 50%;
  margin-top: 50px;
  padding-left: 15px;
  min-height: 280px;
  max-width: 500px;
  text-align: left;
  float: left;
}

.salon-name {
  font-size: 22px;
  display: inline-block;
  line-height: 5px;
}

.salon-name p {
  font-size: 16px;
}

.salon-address {
  line-height: 15px;
}

.salon-address a {
  font-size: 20px;
  text-decoration: underline;
}

.salon-hour {
  padding-top: 10px;
}

/*salon-wrapper終了*/

/*contents-wrapper開始*/

.contents-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.content {
  float: left;
  width: 33%;
  margin: 15px 0;
}

.content img {
   max-width: 80%;
   max-height: 250px;
   height: auto;
}

.content-txt {
  font-size:16px;
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  line-height: 20px;
  text-align: left;
}

/*contents-wrapper終了*/

footer {
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  text-align: center;
  display: inline-block;
}

footer p {
  line-height: 20px;
}

footer h2 {
  font-family: "Arial Rounded MT Bold";
  font-size: 32px;
}
